.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 10px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.answer-section button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.answer-section button:hover {
  background-color: darkgreen;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.major-count {
  margin-bottom: 10px;
  font-size: 24px;
}

.score-section button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.score-section button:hover {
  background-color: darkgreen;
}